@use './variables' as v;

//bColor is button bg color
// tColor is text color
// hColor is hover color
// bsColor is box shadow color
// htColor is text color on hover
// bhColor is button bg color on hover

@mixin btn($bColor, $tColor, $hColor, $bsColor, $htColor, $bhColor) {
    background-color: $bColor;
    color: $tColor;
    padding: 14px 34px;
    display: inline-block;
    border-radius: v.$br1;
    box-shadow: 5px 7px $bsColor;
    border: 1px solid v.$black;

    font: {
        weight: v.$fw5;
    }

    transition: all .5s ease-in-out;

    &:hover,
    &:focus {
        background-color: $hColor;
        color: $htColor;
        box-shadow: 3px 3px $bhColor;
    }
}

@mixin boxShadow($bsColor) {
    box-shadow: 5px 7px $bsColor;
    border: 1px solid v.$black;
}

.nBtn {
    margin-block-start: 2.5rem;
    color: v.$primary-500;
    display: flex;
    align-items: center;
    // justify-content: center;
}