// Color
$black: #000;
$White: #F2F2F2;
$red: #EF3644;

// Font
$ff: 'Inter', sans-serif;
$fw2: 200;
$fw3: 300;
$fw4: 400;
$fw5: 500;
$fw6: 600;
$fw7: 700;
$fw8: 800;
$fw9: 900;

// Border Radus
$br1: 8px;
$br2: 1rem;